# Varibles básicas del server
PORT=3000
NODE_ENV=development

# URI de Mongoose para la conexión con la BD
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.mongodb.net/costuradb?retryWrites=true&w=majority

# Secretos JWT y tiempo de duración del token
JWT_ACCESS_SECRET=ejemplo_de_cadena_larga
JWT_REFRESH_SECRET=ejemplo_de_cadena_larga
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# API Keys Cloudinary
CLOUDINARY_CLOUD_NAME=nombre_de_cloudinary
CLOUDINARY_API_KEY=api_de_cloudinary
CLOUDINARY_API_SECRET=secreto_de_cloudinary

# Variables relativas a mailer 
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-contraseña-de-aplicacion
FRONTEND_URL=http://localhost:4200




