<app-mobile-header (openCreate)="openCreateModal()"></app-mobile-header>

<div class="w-full max-w-350 mx-auto pb-6 pt-2">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 md:gap-6 mb-5 md:mb-6">
    <div class="lg:col-span-2">
      <app-recent-project [project]="recentProject" (createClicked)="openCreateModal()">
      </app-recent-project>
    </div>

    <div class="h-fit hidden md:block">
      <app-quick-actions (createClicked)="openCreateModal()"></app-quick-actions>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 md:gap-6">
    <div class="lg:col-span-2">
      <app-project-collection [projects]="myProjects" [isLoading]="isLoadingProjects">
      </app-project-collection>
    </div>

    <div class="flex flex-col h-full">
      <app-recommended-tutorial
        [tutorial]="recommendedTutorial"
        [isLoading]="isLoadingTutorial"
        (openTutorial)="openTutorialModal($event)"
      >
      </app-recommended-tutorial>
    </div>
  </div>
</div>

@if (isCreateModalOpen) {
  <app-create-project-modal
    (close)="isCreateModalOpen = false"
    (projectCreated)="handleProjectCreated($event)"
  />
}

@if (isTutorialModalOpen && selectedTutorial) {
  <app-tutorial-detail-modal [tutorial]="selectedTutorial" (close)="closeTutorialModal()" />
}
