<app-mobile-header (openCreate)="openCreateModal()"></app-mobile-header>

<div class="w-full max-w-350 mx-auto pb-6 pt-2">
  <h1 class="sr-only">Panel de control de mis proyectos</h1>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 md:gap-6 mb-5 md:mb-6">
    <section class="lg:col-span-2" aria-labelledby="recent-project-title">
      <h2 id="recent-project-title" class="sr-only">Proyecto reciente</h2>
      <app-recent-project [project]="recentProject" (createClicked)="openCreateModal()">
      </app-recent-project>
    </section>

    <section class="h-fit hidden md:block" aria-labelledby="quick-actions-title">
      <h2 id="quick-actions-title" class="sr-only">Acciones rápidas</h2>
      <app-quick-actions (createClicked)="openCreateModal()" (shareClicked)="openPublishModal()">
      </app-quick-actions>
    </section>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 md:gap-6">
    <section class="lg:col-span-2" aria-labelledby="my-collection-title">
      <h2 id="my-collection-title" class="sr-only">Mi colección de proyectos</h2>
      <app-project-collection [projects]="myProjects" [isLoading]="isLoadingProjects">
      </app-project-collection>
    </section>

    <section class="flex flex-col h-full" aria-labelledby="recommended-title">
      <app-recommended-tutorial
        id="recommended-title"
        [tutorial]="recommendedTutorial"
        [isLoading]="isLoadingTutorial"
        (openTutorial)="openTutorialModal($event)"
      >
      </app-recommended-tutorial>
    </section>
  </div>
</div>

@if (isCreateModalOpen) {
  <app-create-project-modal
    (close)="isCreateModalOpen = false"
    (projectCreated)="handleProjectCreated($event)"
  />
}

@if (isTutorialModalOpen && selectedTutorial) {
  <app-tutorial-detail-modal [tutorial]="selectedTutorial" (close)="closeTutorialModal()" />
}

@if (isPublishModalOpen) {
  <app-publish-project-modal
    (close)="isPublishModalOpen = false"
    (projectPublished)="handleProjectPublished($event)"
  />
}
